/* styles.css */

header {
    background-color: rgb(6,63,13);
    text-align: center;
}

.blend-in-button,
.dropdown-content a {
    background-color: inherit;
    color: rgb(202,178,230);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: block;
}

.blend-in-button:hover,
.dropdown-content a:hover {
    background-color: rgb(6,63,13);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
